*{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#box{ 
	width:100% ;
	height: 100vh;
	background: url(../img/bg.jpg);
	background-size: 100%;
}
#box2{
	width: 98px;
	height: 112px;
	position: absolute;
	background: url(../img/me.png) no-repeat;
	top: 600px;
	left: 0;
}
.point{
	width: 5px;
	height: 10px;
	position: absolute;
	background: red;
}
.diji1{
	width: 59px;
	height: 36px;
	position: absolute;
	background-size: 100% 100%;
}
.diji2{
	width: 70px;
	height: 92px;
	position: absolute;
	background-size: 100% 100%;
}
.diji{
	width: 165px;
	height: 256px;
	position: absolute;
	background-size: 100% 100%;
}
.diji3{
	width: 165px;
	height: 256px;
	position: absolute;
	background-size: 100% 100%;
}
#panbian{
	width: 100px;
	height: 30px;
	background:yellow;
	position: fixed;
	top: 0;
	right: 0;
}
